<%- include("partials/header.ejs", {username: username}) -%>

<style>
    .forgot-password-container {
  font-family: Arial, sans-serif;
  margin: auto 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.forgot-container {
  margin: auto 0;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4rem;
  text-align: center;
}

.forgot-form {
  max-width: 300px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
</style>

<div class="forgot-password-container">
    <div class="forgot-container">
      <form class="forgot-form" method="post" action="/forgotpassword">
        <h1>Forgot password</h1>
        <div class="form-group">
          <label for="email">Enter your registered email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <% if(error){ %>
          <p style="color: red"><%= error %></p>
        <% } %>
        <button type="submit" class="button">Forgot password</button>
      </form>
    </div>
</div>

<%- include("partials/footer.ejs") -%>